/* Personal code attachement */
body {
  font-family: 'Roboto Slab', serif;
}

.google-header {
  width:auto;
  height:10px;

}

.myfilterbar {
  margin-top: 10px;
  padding:2px;
  height:20px;
}

.header-nav {
  width:auto;
  height:46px;
  background-color: #f5f5f5;
  color: #626366;
  padding-top:10px;
}

.aborder {
  border:1px solid grey;
}

.small-text {
  font-size:14px;
}

p.strong {
  font-weight: bold;
  margin:2px;
  padding: 2px;
  padding-left: 0px;
  margin-left: 0px;
}

h3 {
  font-size: 1.285rem; 
  font-family: 'Roboto Slab', serif;
}

.footer {
  position:fixed;
  bottom:0px;
  height:36px;
  background-color: #f5f5f5;
  width:100%;
  padding-top:5px;
}

.footer a {
  color: #626366;
}

.footer a:hover {
  text-decoration: underline;
}

/* for the slider */
.card {
  position: relative;
  padding: 0;
  margin: 0;
  -webkit-perspective: 5000;
  perspective: 5000; 
}

.card .container {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 0.6s;
  transition: 0.6s; 
}

.card .container .front, .card .container .back {
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; 
}

.card .container .front .row, .card .container .front .column, .card .container .front .columns, .card .container .back .row, .card .container .back .column, .card .container .back .columns {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; 
}

.card .container .front {
  z-index: 2; 
}

.card .container .back {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  /* overflow-y: scroll; */
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); 
}

.card .container:hover {
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
  transform: rotate3d(0, 1, 0, 180deg); 
}

.card .container {
  border: solid 1px #eeeeee; 
}

.card .container .front, .card .container .back {
  padding: 1em; 
}

.card.square .container {
  width: 100%;
  height: 0;
  padding-bottom: 100%; 
}              