{% extends 'base.html' %}
{% block content %}
  <div class="row">
    <div class="small-12 columns">
    <p>
      Permission Denied. <a href="/">Go home</a>
    </p>
    </div>
  </div>
{% endblock %}