{% load static %} {% load compress %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django Hold It - Django App Alternative for Placehold.it</title>
    {% compress css %}
    <link href="{% static 'css/app.css'%}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'css/materialize.css'%}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'css/style.css'%}" type="text/css" rel="stylesheet" media="screen,projection" /> {% endcompress %}
    <link rel="shortcut icon" href="{% static 'favicon.ico'%}">
</head>

<body>
    <!-- Unified Menu System -->
    <div class="row" style="padding-top:10px;">
        <div class="large-10 large-centered columns">
            <a class='dropdown-button btn blue lighten-1' href='#' data-activates='dropdown1'> Menu </a>
            <ul id='dropdown1' class='dropdown-content' style="z-index: 200;">
                <li><a href="http://khophi.co">Main Homepage</a></li>
                <li><a href="http://github.com/seanmavley/">Source Code</a></li>
                <li><a href="#">Credits</a></li>
                <li class="divider"></li>
                <li><a href="http://khophi.co/about/">About Me</a></li>
            </ul>
            <a class='dropdown-button btn white lighten-1 black-text right' href='#' data-activates='dropdown2'> Projects </a>
            <ul id='dropdown2' class='dropdown-content' style="z-index: 200;">
                <li><a href="http://menpha.org/" target="new">Menpha</a></li>
                <li><a href="http://noodles.khophi.co" target="new">Noodles</a></li>
                <li><a href="http://i.khophi.co/" target="new">Django Hold It</a></li>
                <li><a href="http://khophi.co/siya/" target="new">Siya</a></li>
            </ul>
        </div>
    </div>
    <div class="divider blue dark-1" style="margin-bottom:15px;"></div>
    <!-- End Unified Menu System -->
    <div class="row">
        <div class="col s12 m6 l3">
            <div class="card">
                <div class="card-image">
                    <img src="{% url 'placeholder' '240' %}">
                    <span class="card-title">Wise Square</span>
                </div>
                <div class="card-content">
                    <p>Specify only one side of the dimension and get a square.</p>
                </div>
                <div class="card-action">
                    <a href="{% url 'placeholder' '240' %}" target="new">See example</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="card">
                <div class="card-image">
                    <img src="{% url 'placeholder' '300x250' %}">
                    <span class="card-title">Both Sides</span>
                </div>
                <div class="card-content">
                    <p>Specify both lengths of the dimension to cut image to your taste.</p>
                </div>
                <div class="card-action">
                    <a href="{% url 'placeholder' '300x250' %}" target="new">See example</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="card">
                <div class="card-image">
                    <img src="{% url 'placeholder' '300x250/42A5F5' %}">
                    <span class="card-title">Add Flavor</span>
                </div>
                <div class="card-content">
                    <p>Now, change colors on the fly, call it 'zonal color markings'?</p>
                </div>
                <div class="card-action">
                    <a href="{% url 'placeholder' '300x250/42A5F5' %}" target="new">See example</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="card">
                <div class="card-image">
                    <img src="{% url 'placeholder' '300x250&text=Custom Text' %}">
                    <span class="card-title">Communicate</span>
                </div>
                <div class="card-content">
                    <p>Describe what each image is supposed to mean or do</p>
                </div>
                <div class="card-action">
                    <a href="{% url 'placeholder' '240&text=Custom%20dimensions' %}" target="new">See example</a>
                </div>
            </div>
        </div>
    </div>
    <div class="divider blue lighten-2"></div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card blue darken-4">
                <div class="card-content white-text">
                    <span class="card-title">What is Django Hold It?</span>
                    <p class="">Django Hold It is designed to make serving dummy images for front-end application developments fast and easy. It simply takes kicking your image serving server on your local machine, hooked to a free port, and linking to them anytime with varied combinations, just to light up your development, and give a visual cue with custom text, as to what belongs where and what each image represent.</p>
                </div>
                <div class="card-action">
                    <a href="#" class="btn-flat white-text blue darken-1">Best Use Case</a>
                    <div class="divider"></div>
                    <a href="#" class="btn-flat white-text blue darken-2">Going Advanced</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card green darken-4">
                <div class="card-content white-text">
                    <span class="card-title">The Profit?</span>
                    <p>You win a lot using Django Hold It, as long as it is for the best use case.</p>
                    <ul class="collection">
                      <li class="collection-item green darken-4">No coding skills required. Just run and profit</li>
                      <li class="collection-item green darken-4">No installations required</li>
                      <li class="collection-item green darken-4">100% offline, which means...</li>
                      <li class="collection-item green darken-4">Blazingly Fast, with tons of customizations</li>
                      <li class="collection-item green darken-4">Also accessible online, on any device</li>
                    </ul>
                </div>
                <div class="card-action">
                    <a href="#" class="btn-flat white-text green darken-1">See Scaffold Example</a>
                    <div class="divider"></div>
                    <a href="#" class="btn-flat white-text green darken-2">Whats More</a>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="{% static 'js/jquery-2.1.1.min.js'%}"></script>
<script src="{% static 'js/jquery.cookie.js'%}"></script>
<script src="{% static 'js/materialize.js'%}"></script>
<script src="{% static 'js/main.js'%}"></script>
<script src="{% static 'js/init.js'%}"></script>

</html>
