{% load static %}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django Hold It - Django App Alternative for Placehold.it</title>
    <link rel="stylesheet" href="{% static 'css/foundation.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/mycss.css'%}">
    <script src="{% static 'js/vendor/modernizr.js'%}"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-50196007-1', 'djangoholdit.herokuapp.com');
      ga('send', 'pageview');

    </script>
  </head>
  <body>
    
    <div class="off-canvas-wrap">
      <div class="inner-wrap">
        <nav class="tab-bar">
          <section class="left-small">
            <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
          </section>

          <section class="middle tab-bar-section">
            <h1 class="title">Djangoholdit</h1>
          </section>

          <!--<section class="right-small">
            <a class="right-off-canvas-toggle menu-icon" ><span></span></a>
          </section>-->
        </nav>

        <aside class="left-off-canvas-menu">
          <ul class="off-canvas-list">
            <li><label>Menu</label></li>
            <li><a href="/">Home</a></li>
            <li><a href="http://google.com/+Nkansahrexford" target="new">About</a></li>
          </ul>
        </aside>

        <!--<aside class="right-off-canvas-menu">
          <ul class="off-canvas-list">
            <li><label>Users</label></li>
            <li><a href="#">Hari Seldon</a></li>
            ...
          </ul>
        </aside>-->

        <section class="main-section">
        <div class="row">
          <div class="small-12 columns">
          <table>
            <thead>
              <tr>
                <th>What?</th>
                <th>Result</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Append dimension you want as placeholder like this: <kbd>http://myaddress/100x100</kbd>. The myaddress can be a local instance of this app on your computer or via this website address.</td>
                <td>
                  <img src="/100x100/">
                </td>
              </tr>
              <tr>
                <td>Vary colors of the placeholder images by specifying the RGB values like this: <kbd>http://myaddress/100x100/as/255.0.0</kbd>. REMEMBER to include the '/as/' part of the URL</td>
                <td><img src="/100x100/as/255.0.0/"></td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>

        </section>

      <a class="exit-off-canvas"></a>

      </div>
    </div>
    
    <script src="{% static 'js/vendor/jquery.js'%}"></script>
    <script src="{% static 'js/foundation.min.js'%}"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
